.root {
  width: 800px;
  margin: 0 auto;

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }
}

.content {
  width: 60%;

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }
}

.image {
  width: 40%;

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }
}
